.para1 {


		padding: 20px;
		margin-left: 40px;
		margin-right: 40px;
		width: 250px;
		border-style: solid;
		border-width: medium;
			

s
}	

span {

	display: block;
}	

.para2 {

		padding: 40px;
		margin: 50px;
		border-style: solid;
		border-width: medium;
}




