nav {
	margin: 0 auto;
	text-align: center;
	

}

a {

	color: #909090;
	text-decoration: none;
	text-align: center;
}

ul	{


	list-style-type: none;
	padding: 5px;


	
}

nav li {

	display: inline;

}

ul li a {

	text-decoration: none;
}